node_modules
npm-debug.log*

.env
.env.*
!.env.example

.git
.gitignore

coverage
.nyc_output
*.lcov

logs
*.log

public/temp

.vscode
.vscode-test
.idea

*.tgz
*.tar.gz

docker-compose.yml
Dockerfile
.dockerignore

.prettierrc
.prettierIgnore

LICENSE
Readme.md
